/*	Events
/*--------------------------------------*/
// Using The Events Calendar plugin: https://wordpress.org/plugins/the-events-calendar
// Some quick defaults but in future iteration will create fully customized theme.
// Use the Full Styles setting.

#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
	padding: 0;
}
.post-type-archive-tribe_events .col {
	width: 100%;
}
.tribe-bar-submit {
	float: right!important;
	width: 140px;
	margin: 1px 20px 0 0;
}
.tribe-bar-submit .tribe-events-button {
	margin-top: 10px!important;
}
#tribe-events-content.tribe-events-month {
	width: 940px;
	margin: 0 auto;
}
#tribe-events-content {
	width: 640px;
	margin: 0 auto;
}
.tribe-events-event-image + div.tribe-events-content {
	width: 100%;
}
.tribe-events-venue-details {
	font-weight: normal;
}
.tribe-events-list .vevent.hentry {
	border-bottom-color: $border-color;
	border-bottom-width: 2px;
}
.tribe-events-schedule {
	margin: 0!important;
	
	p {
		margin-top: 0;
	}
}
#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background-color: #eee!important;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	background-color: #e0e0e0!important;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
	background-color: #e0e0e0!important;
}
.tribe-events-list-widget {
	.duration {
		color: $text-color;
		line-height: 1.5em;
		font-size: .85em;
	}
	.duration span {
		display: inline; 
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	.tribe-events-widget-link {
		padding-left: 0;
	}
	ol {
		li.tribe-events-list-widget-events {
			margin-bottom: 10px;
			padding: 0;
		}
		h4 {
			margin: 0;
			font-size: .9em;
		}
		a {
			text-decoration: none;
		}
	}
}
#tribe-bar-form {
	background-color: $bg-light-color;
	padding: 0 0 0 20px;

	label {
		font-size: 1em;
		margin-top: 5px;
	}
	input[type="text"] {
		font-weight: normal;
	}
}
.datepicker-days thead {
	background-color: $primary-light;
}
.single-tribe_events {
    h1.tribe-events-single-event-title {
        font-size: 3em;
        line-height: 1.1em;
    }
    .tribe-events-event-meta {
      background-color: rgba(0, 0, 0, 0.03);
      border: 1px solid rgba(0, 0, 0, 0.12);
        dd {word-wrap: break-word;}
    }
    .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
        width: 98%; 
    }
    .tribe-events-venue-map { margin: 0 auto; }
}

/** ----- [ Featured Event Style ] --------- **/
.tribe-events-list .tribe-events-loop .tribe-event-featured {
    background: #347bad;
    .tribe-events-event-image img {
        border-bottom: 4px solid white;
    }
}

/*-----[ Featured Side menu ] --------*/
.tribe-events-list-widget {
    .tribe-event-featured {
        background: #eee;
        padding-bottom: 12px;
        padding-bottom: .75rem;
        border-left: 5px solid;
        padding: 5px !important;
        margin: 5px 0px !important;
        }
    
    .tribe-event-featured:last-of-type {
        margin-bottom: 10px !important;
        }
}