/* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Slider
	4. Header
	5. Navigation
	6. Footer
	7. People Archive
	8. Person Page
	9. Books
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 95%;
}
.col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	margin-bottom: 30px;
}
#hero {
	display: none;
}

/*	2. Homepage
/*--------------------------------------*/

.home {
	.hero-description {
		width: 95%;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			width: 100%;
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			width: 100%;
			font-size: 1em;
		}
	}
	#hero {
		display: block;
		height: 400px;
		margin: 0 0 0px 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		
		.content {
			width: 100%!important;
			height: 400px;
			@include vendor-prefix('box-shadow', 'none');
		}
		.hero-description {
			width: 95%;
			padding: 0 0 30px 0;
			left: 0;
			right: 0;
			
			h2 {
				width: 100%;
				font-size: 2em;
				line-height: 1.1em;
			}
			p {
				width: 100%;
				font-size: 1em;
			}
		}
	}
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	ul, ol {
		float: left;
		clear: both;
		width: 100%;
		margin: 0;
	}
	&.news-col {
		ul {
			margin-bottom: 0;
		}
		li {
			padding: 0;
			margin: 0 0 20px 0;
			clear: both;
			list-style: none;
			
			.news-item {
				float: none;
				width: 100%;
			}
		}
		.btn {
			margin-left: 0;
			margin-top: -5px;
		}
		&.two {
			.news-item {
				width: auto;
			}
			img {
				display: none;
			}
			.btn {
				margin-left: 0;
			}
		}
	}
	p, span.description {
		padding: 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.events-col ul, &.events-col ol {     
        margin: 0 auto 30px auto;
	}
    &.events-col.two ul, &.events-col.two ol {
        li {
            width: 100%;
            img {
                margin-top: 3px;
                float: left;
                width: 110px;
                height: 70px;
            }
            .item {
                float: left !important;
                width: 70%;
                margin-left: 15px;
            }
        }
    }
}
.home .col + .col {
	width: 100%!important;
	margin: 0 auto 30px auto;
	//background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}







@media only screen and (min-width: 320px) and (max-width: 641px) {
    .home {
        .col.events-col.two {
                    ol li {
                        width: 100%;
                        img {
                            margin-top: 3px;
                            float: left;
                            width: 110px;
                            height: 70px;
                        }
                        .item {
                            float: left;
                            width: 58%;
                            margin-left: 15px;
                        }
                    }
        }
    .testimonials {
        .students-col.two {
            width: 60%;
            float: left;
            padding: 40px 0px 55px 0;
            position: relative;
            z-index: 100;
            img {display: none;}
            .content {   
                width: 50%;
                transform: translate(5%, 0);
            }
        }
        #hero {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
           // background:  linear-gradient(rgba(0,130,170,0),rgba(0,130,170,1));
            height: auto;
            width: 40%;
            float: right;
            clear: none;
            margin: 0 0 0px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0; 
            border: none;
            z-index: 1;
        }
        
        position: relative;
        color: white;
        display: block;
        clear: both !important;
        background-color: $secondary !important;
        margin: 20px 0;
        overflow: hidden;
        width: 100%;
        float: none;
        //padding: 40px 0px 55px 0;
        border-bottom: 1px solid #cbcbcb;
       // text-align: center;
            .content .students-col {
                margin: 20px auto;
                width: 940px;
                float: none;
                clear: both;
                
            }
        h3 {font-size: 2em; color: white; text-transform: uppercase; border: none; font-weight: 200; margin-bottom: 35px;}
        .view-btn {
            clear: both; 
            padding-top: 20px; 
            .btn {border: 2px solid $accent-color;}
        }
                h4 {font-size: 1.5em; font-style: normal; margin-bottom: 25px;}
                img {float: right; margin-top: 40px;}
                .item {float: left; text-align: left; width: auto;}
        .students-col ul li {
                        list-style-type: none !important;
                        padding: 0px;
                        margin: 0px;
                }
        .item {
            border-left: none;
            padding: 0.5em 10px;
            quotes: "“" "”" "‘" "’";
            position: relative;
            font-style: italic !important;
            font-size: 1.1em;
            line-height: 1.6em;
            h4, a h4, p {position: relative; z-index: 100;}
            p:first-of-type {margin-top: 0px;}
            a {color:$accent-color;}
            a.hover {color: $link-color;}
            
            p {    
                font-size: 1.1em;
                line-height: 1.2em;
                margin: .8em 0;
                text-shadow: 0px 0px 5px $secondary;
                a {
                    color: $accent-color; 
                    font-size: .9em;
                    text-decoration: underline;
                    @include transition(color 0.24s ease-in-out);

                    &:hover, &:focus {
                        color: $link-hover-color;
                    }
                }
            }
        }
        .item:before {
            color: $accent-color;
            content: open-quote;
            font-size: 16em;
            vertical-align: -0.4em;
            position: absolute;
            top: 100px;
            left: -50px;
            font-weight: 800;
        }
    }
    }

}

@media only screen and (min-width: 320px) and (max-width: 799px) {
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 5px;
		}
		img {
			display: block;
			float: left;
			clear: left;
			width: 20%;
			height: auto;
		}
		li {
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			clear: both;
			float: left;
			
			.news-item {
				float: left;
				width: 75%;
				clear: right;
			}
		}
		& .btn {
			clear: both;
		}
		&.events-col {
            .two {
                li {
                    width: 100%;
                    img {
                        margin-top: 3px;
                        float: left;
                        width: 110px;
                        height: 70px;
                    }
                    .item{
                        float: left;
                        width: 70%;
                        margin-left: 15px;
                    }
                }
            }
			margin-bottom: 30px!important;
		}
		span.description {
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Make homepage columns side by side
	.home {
		.col {
			width: 100%!important;
			max-width: 100%!important;
			float: left;
			margin: 0;
			
			span.description {
				margin-bottom: 20px;
			}
		}
		.col + .col {
			width: 100%!important;
			float: left;
			margin: 30px 0 0 0;
		}
		#main-content .content {
			max-width: 100%!important;
			margin: 0 auto!important;
			float: none!important;
		}
	}
}

/*	3. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#bxslider {
	margin-top: 0;
	
	.hero-description {
		width: 75%!important;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			width: 100%;
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			width: 100%;
			font-size: 1em;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	float: right;
}

/*	4. Header
/*--------------------------------------*/

// Hide unneccessary things
header .university-logo, .give-back, header .search-form {
	display: none!important;
}

header {
	padding: 10px 0 10px 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 95%;
		max-width: 581px;
		height: auto;
	}
	nav {
		float: none;
	}
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*	5. Navigation
/*--------------------------------------*/

header nav.desktop {
	display: none;
}
body #wprmenu_menu {
	border-right: 1px solid #eee;
	background-color: white!important;
	@include vendor-prefix('box-shadow', '18px 0px 7px -3px rgba(0,0,0,0.17)');
}
#wprmenu_bar {
	background-color: $secondary!important;
}
#wprmenu_bar .menu_title {
	color: white!important;
}
#wprmenu_menu.wprmenu_levels ul li {
	border-bottom: 1px solid $border-color!important;
	border-top: none!important;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
	border-left: 1px solid $border-color!important;
}
#wprmenu_menu.wprmenu_levels ul li ul {
	border-top: 1px solid $border-color!important;
}
#wprmenu_menu ul li a {
	color: $text-color!important;
	font-weight: bold;
}
#wprmenu_menu .wprmenu_icon_par {
	@include transition(color 0.24s ease-in-out);
}
#wprmenu_menu input[type="search"] {
	background-image: none;
	border-radius: 20px;
	font-size: 1em;
	padding: 5px 40px 5px 10px!important;
}
#wprmenu_menu ul li a:hover, #wprmenu_menu .wprmenu_icon_par:hover {
	color: $link-color!important;
}

/* Secondary Navigaion */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col {
	width: 100%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: left;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: right;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
	.post-type-archive-tribe_events .col {
		width: 100%!important;
		max-width: 100%;
		margin: 0 auto;
	}
	
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
}

/*	6. Footer
/*--------------------------------------*/

footer {
	margin-top: 0px;
	
	nav {
		display: none;
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		
		p {
			margin: 0;
		}
	}
	.university-logo {
		display: none;
	}
	.search-form {
		width: 301px;
		margin: 0 auto 10px auto;
		display: block;
		
		.search-btn {
			top: -2px;
			
			&:active {
				top: -1px;
			}
		}
	}
	input[type="search"] {
		float: none;
		clear: none;
		margin: 0 auto;
		color: $text-color;
		width: 100%;
		max-width: 280px;
		padding: 5px 10px 5px 10px;
		background: white;
		display: block;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.filter, .filter-title {
	display: none;
}
.archive .content header {
	text-align: left;
	width: 95%;
	margin: 0 auto;
}
.dropdown-filter {
	display: block;
	width: 95%;
	margin: 20px auto;
	
	select {
		max-width: 100%;
	}
}

/* People List */
.people-list {
	margin: 20px auto 0 auto;
	padding: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}
.people-list .person-item {
	//float: none!important;
	padding: 15px 0;
	width: 100%;
	height: auto;
	text-align: left;
    min-height: 140px;

	.photo {
                width: 140px;
                height: 140px;
		float: left;
		margin: 0px;
	}
	dl {
		min-height: 107px;
		padding-top: 10px;
		margin-right: 10px;
	}
   
}
 @media only screen and (min-width: 400px) and (max-width: 480px) {
        .people-list .person-item {
            padding: 10px !important;
            width: 90% !important;
            .photo {
                width: 140px;
                height: 140px;
                float: left;
                margin: 0 !important;
               }
            dl {
                    width: 52%;
                    float: left;
                    margin: 0px;
                    padding: 0px 10px 0px 15px;
                }
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 799px) {
        .people-list .person-item {
            float: none!important;
            padding: 10px !important;
            width: 94.5% !important;
            height: auto;
            text-align: left;
            margin: 5px 0 5px 10px !important;
            .photo {
                width: 140px;
                height: 140px;
                float: left;
                margin: 0 !important;
               }
        }
    }

@media only screen and (min-width: 700px) and (max-width: 799px) {
	// Making people page two column
	.filter, .filter-title {
		display: block;
	}
	.dropdown-filter {
		display: none;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}	
	.people-list .person-item {
		float: none!important;
		padding: 15px 0;
		width: 95%;
		height: auto;
		text-align: left;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
    .people-list .person-item {
        //float: none!important;
        padding: 10px;
        width: 46%;
        height: auto;
        text-align: left;
        margin: 5px 0 5px 10px;
        .photo {
            width: 140px;
            height: 140px;
            float: left;
            margin: 0px;
        }
                dl {
                    width: 52%;
                    float: left;
                    margin: 0px;
                    padding: 0px 10px 0px 15px;
                }
        }
        // Styling right column on People page
        .single-people {
            article header {
                text-align: left;
                img {
                display: none;
                }
            }
        .col {
            max-width: 65%;
        }
        #main-content .content {
            max-width: 65%;
            float: left;
            margin: 0 15px;
        }
        .col + .col {
            margin-top: 0;
            width: 220px!important;
            float: right;
            img {
                display: block;
                width: 90%;
                height: auto;
            }
        .table-of-contents {
            display: block;
        }
        }
        }
	// Making People page three column
	.filter, .filter-title {
		display: block;
	}
	.dropdown-filter {
		display: none;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}
}

/*	8. Person Page
/*--------------------------------------*/

.single-people {
    .bio {
        section { float: none; width: 95%; }
    }
	.details {
		span {
			display: block;
		}
		span + span {
			margin-left: 0;
		}
		p {
			margin-top: 0px;
		}
	}
	article header {
		text-align: center;
		
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
        display: block;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
			
			img {
				display: none;
			}
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
	}
}

/*	9. Books
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}
@media only screen and (max-width: 460px) {
	.post-type-archive-books .book-list ul {
		text-align: center;
	}
}

/*	10. Events
/*--------------------------------------*/

#tribe-events, #tribe-events-content.tribe-events-month {
	width: 100%;
	margin: 0 auto; 
}
#tribe-events-content {
	width: 100%;
	margin: 0 auto;
}
#tribe-events-pg-template {
	width: 95%;
	padding: 40px 0 0 0!important;	
}
.tribe-events-sub-nav {
	margin-top: 15px!important;
}
.tribe-events-last {
	padding-bottom: 0!important;
}
.post-type-archive-tribe_events .col {
	width: 100%;
}
.post-type-archive-tribe_events #tribe-events {
	margin-top: 20px!important;
}
.datepicker thead th {
	border-radius: 0!important;
}
#tribe-bar-form {
	padding: 0!important;
}
.tribe-events-schedule {
	margin: 15px 0!important;
	
	p {
		margin: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 799px) {
	#tribe-events-content.col, #tribe-events .col.side.feed {
		width: 100%!important;
	}
}

/*	11. Forms
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*	12. Typography
/*--------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
p {
	clear: both;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	margin: 30px 0;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*	13. Other
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}


/* Student Testimonials */

@media only screen and (min-width: 320px) and (max-width: 459px) {
    .single-student-testimonials {
        img.wp-post-image.alignleft {
            width:inherit;
            height: inherit;
            float: none !important;
            margin: 15px 0 !important;
        }
    }

    .post-type-archive-student-testimonials .student-testimonials {
       h3 {
            display: block !important;
        }
        img.wp-post-image.alignleft {
            width:inherit;
            height: inherit;
            float: none !important;
            margin: 15px 0 !important;
        }
        p {
            clear: both !important;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
    
    /*  Ph.D Listing */
    .phd-list {
        li, a.phd-link li {
            width: 95%;
            .person-info {width: auto; float:none;}
            .research {width: auto; float: none; margin-top: 10px;}
        }
    }
}

.single-student-testimonials {
        img.wp-post-image.alignleft {
            float: left;
            margin: 0 15px 15px 0;
        }
    p {clear: none;}
    }

.post-type-archive-student-testimonials {
    img.wp-post-image.alignleft {
        float: left;
        margin: 0 15px 15px 0;
    }
    .student-testimonials p {
        clear: none;
    }
}



/*	14. Posts & Content Styles
/*--------------------------------------*/

article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}

/*	15. Pagination
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}