/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}

/*	2. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 0px 0;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.5)');
			background: rgba(0,0,0,0.5);
		}
	}
	.hero-description {
		color: white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 4em;
			width: $site-width;
			margin: 0 auto;
			font-weight: 600;
            position: relative;
            margin: 0 auto 10px;

		}
		p {
			font-size: 1.2em;
			width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		button.outline {
			margin-top: 35px;
			min-width: 180px;
            background: $accent-color;
            border: none;
            padding: 10px 25px;
            text-transform: capitalize;
            @include transition(background-color 0.24s ease-in-out);
            
            &:hover, &:focus {
                background: $btn-hover-color;
                color: white;
            }
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
	&.mobile-hero {
		display: none;
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
        a {
            color: $link-color; 
            font-size: .9em;
            text-decoration: underline;
            @include transition(color 0.24s ease-in-out);
            
            &:hover, &:focus {
                color: $link-hover-color;
            }
        }
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
	}
	&.news-col {
		.news-item p {
			color: $text-color;
			font-weight: normal;
		}
		li {
			padding: 0 0 5px 0;
			clear: both;
		}
		.category a {
			font-size: .70em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			display: inline-block;
		}
		.btn {
			margin-top: -5px;
		}
		&.one {
			ol.categories {
				margin-top: -7px
			}
			.item {
				float: right;
				width: auto;
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
		&.three {
			.item {
				float: right;
				width: 570px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.1em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
            h4 {font-size: 1em;}
			margin-bottom: 15px;
            box-sizing: border-box;
            overflow: hidden;
		}
		.category {			
			a {
				font-size: .70em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		&.one {
			ol.categories {
				margin-top: -7px
			}
		}
		&.two {
			.item {
				float: right;
				width: 60%;
				margin-top: 0;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
}
.home {    
    .top-container, .bottom-container {
        float: left;
        width: 100%;
        border-bottom: 1px solid #cbcbcb;
        padding: 40px 0 80px 0;
         // Tweak the homepage for even width 3 columns
         .col {
            width: 300px;
            .btn {margin-left: 0px !important;}
            dd {margin: 0 0 20px 0;}
            .photo {width: 100%;}
        }
        .news-col .item {
            width: 100% !important;
        }
    }
    
    .top-container {background: #f1f1f1; padding-top: 80px;}
    
    .news-col, .pagelist-col, .courses .title {
        h4 {
            a { text-decoration: underline;}
            a:hover { color:$link-hover-color;}
        }  a {
            h4 { text-decoration: underline;}
            h4:hover { color:$link-hover-color;}
        }
    }
    
    .bottom-container {
        border-bottom: none;
    }
    .courses {
        ul li {
            list-style-type: none;
            width: 100%;
            margin-bottom: 25px;
            .instructors { margin-bottom: 5px;}
            p {
                a {
                    color: $link-color; 
                    font-size: .9em;
                    text-decoration: underline;
                    @include transition(color 0.24s ease-in-out);

                    &:hover, &:focus {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }
    .testimonials {        
        position: relative;
        color: white;
        display: block;
        clear: both !important;
        background-color: $secondary !important;
        margin: 20px 0;
        overflow: hidden;
        width: 100%;
        min-height: 475px;
        float: none;
        border-bottom: 1px solid #cbcbcb;
        
        .students-col.two {
            width: 77%;
            float: left;
            padding: 40px 0px 55px 0;
            position: relative;
            z-index: 100;
            img {display: none;}
            .content {   
                width: 52%;
                transform: translate(10%, 0);
            }
        }
        #hero {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: auto;
            width: 600px;
            float: right;
            clear: none;
            margin: 0 0 0px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0; 
            border: none;
            z-index: 1;
        }
            .content .students-col {
                margin: 20px auto;
                width: 940px;
                float: none;
                clear: both;
                
            }
        h3 {font-size: 2em; color: white; text-transform: uppercase; border: none; font-weight: 200; margin-bottom: 35px;}
        .view-btn {
            clear: both; 
            padding-top: 20px; 
            .btn {border: 2px solid $accent-color; border-radius: 20px;
            &:hover { background: $accent-color; color: $secondary;}
            }
        }
                h4 {font-size: 1.5em; font-style: normal; margin-bottom: 25px;}
                img {float: right; margin-top: 40px;}
                .item {float: left; text-align: left; width: auto;}
        .students-col ul li {
                        list-style-type: none !important;
                        padding: 0px;
                        margin: 0px;
                }
        .item {
            border-left: none;
            padding: 0.5em 10px;
            quotes: "“" "”" "‘" "’";
            position: relative;
            font-style: italic !important;
            font-size: 1.1em;
            line-height: 1.6em;
            h4, a h4, p {position: relative; z-index: 100;}
            p:first-of-type {margin-top: 0px;}
            a {color:$accent-color;}
            a.hover {color: $link-color;}
            
            p {    
                font-size: 1.3em;
                line-height: 1.5em;
                margin: .8em 0;
                a {
                    color: #67DDFE; 
                    font-size: .9em;
                    text-decoration: underline;
                    @include transition(color 0.24s ease-in-out);

                    &:hover, &:focus {
                        color:$accent-color ;
                    }
                }
            }
        }
        .item:before {
            color: $accent-color;
            content: open-quote;
            font-size: 16em;
            vertical-align: -0.4em;
            position: absolute;
            top: 100px;
            left: -150px;
            font-weight: 800;
        }
    }
}
.home .col + .col {
	margin: 0 0 0 20px;
	
	li {
		padding: 0;
	}
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 650px;
			display: inline-block;
			margin: 0;
			text-align: left;
            overflow: hidden;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 635px;
		height: auto;
        margin-left: -35px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
        .fa-heart {
            color: $accent-color;
        }
        
	}
	.university-logo {
		float: left;
		margin-top: 5px;
		// For retina, upload image 2x larger and resize here
		width: 149px;
		height: 48px;
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: white;
		text-decoration: underline;
	}
}

/*	4. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-left: 5px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $proxima;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $dark-grey;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/
.single-people {
    .breadcrumbs { margin-bottom: 0px;}
	.details {
		span {
			display: inline-block;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
    .social-links {
        .facebook a { color: #254887;}
        .twitter a { color: #00afe9;}
        .instagram a { color: #254887;}
        .linkedin a { color: #329ad1;}
        .google a { color: #d14232;}
        .youtube a { color: #cb0a05;}
        .facebook a:hover, .twitter a:hover, .instagram a:hover, .linkedin a:hover, .google a:hover, .youtube a:hover { color: $link-hover-color;}
        li {
            list-style-type: none;
            display: inline-block;
            font-size: 25px;
        }
        li:first-of-type { margin-left: 0px;}
    }
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
    section {
        border-bottom: rgba(0, 0, 0, 0.10) 5px solid;
        padding-bottom: 20px;
        margin-bottom: 20px;
        clear: both;
        display: block;
        float: left;
        width: 100%;
    }
    section:last-of-type {
        border-bottom: none;
    }
	.bio {
        clear: both;
        width: 100%;
        display: block;
        padding-top: 50px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: hidden;
        .position { 
            display: block;
            margin-bottom: 20px;
            font-size: 18px;
            font-style: italic;
            font-weight: bold;
            color: $secondary-text-color;
            position: relative;
            padding-bottom: 5px;
        }
        .position::after {
            background: url(../images/ligth-blue-line.png) no-repeat;
            content: ' ';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 50px;
            height: 3px;
        }
        .interest {
            margin: 15px 0px;
        }
        section {
            float: right;
            width: 620px;
            clear: right;
            margin-left: 15px;
            display: block;
            border: none;
            padding-bottom: 0px;
        }
            background: rgba(0, 0, 0, 0.03);
	}
    .person-nav {
        float: right;
    }
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
        border: 5px #E6E6E6 solid;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}

/* Single page Testimonials */
.single-student-testimonials {
    .alignleft.wp-post-image {
        width: 300px;
        height: 300px;
    }
}

.link {
	&:before {
		content: "\f0c1"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.download {	
	&:before {
		content: "\f019"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}


/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
h1 {display: inline-block;}
h2.filter-title {
    color: $primary;
    background-color: transparent;
    padding: 10px 0;
    font-size: 2em;
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
        background: $accent-color;
        
        &:hover, &:focus {
		background: $btn-color;
		color: white;
	}
	}
    button.is-checked {
        background: $btn-color !important;
        font-weight: bold;
    }
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 0;
		margin: 15px 10px;
		width: 440px;
		height: 175px;
		text-align: left;
		line-height: 1.8em;
        background-color: #f2f2f2;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&:active, 
		&.hover:hover, 
		&:focus {
			background-color: #ccc;
		}
        dl {
            float: left;
            padding: 10px 20px;
            width:51%;
        }
		.photo {
			width: 175px;
			height: 175px;
            clear: both;
            float: left; 
            // Remove Grayscale 
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
		}
        :hover .photo {
            // Transition to grayscale when hover
            -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: capitalize;
			color: $dark-blue;
			letter-spacing: 1px;
            font-size: 1.35em;
		}
		.interest {
			font-size: .8em;
			color: $secondary-text-color;
			line-height: 1.2em;
            margin-bottom: 10px;
		}
        .phone {
            color:$text-color;
        }
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
            line-height: 1.15em;
            font-size: 14px;
            font-weight: bold;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			margin: 0;
            line-height: 1.2em;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
    
}

/* Staff */
.term-staff .people-list {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/* Student Testimonials */
.post-type-archive-student-testimonials {
    h1 {margin-bottom: 30px;}
    .student-testimonials {
        h3 {     
            font-size: 1.75em;
            display: inline-block;
            padding: 0px !important;
            margin: 0px !important;
        }
        p {
            margin: 1em 0;
            line-height: 1.5em;
        }
    }
}
/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
        height: 115px;
		width: 320px;
        padding-left: 0px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: 1em;
        font-size: .95em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
    article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
	}
}
.archive.category-spotlight, .post-type-archive-student-testimonials {
    img.wp-post-image.alignleft {
        width: 175px; 
        height: 175px; 
        margin-bottom: 10px;
    }
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Courses */
.instructors {
  display: block; }

.page-template-page-courses #main-content h2 {
  padding-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.page-template-page-courses #main-content h4 {
  margin-bottom: 0; }

ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ */
dl.faq {
	dt.question {
		cursor: pointer;
		
		&:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
			display: inline-block;
		}	
	}
	dt.active {
		&:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
		}	
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
    .notice {
        margin-left: -25px;
        ul, ol {
            li{margin: 0 50px;}
        }
    }
}

/* Funding List */
.page-template-page-funding dl.funding-list {
    dt {border-top: 1px solid $border-color; }
    dt:first-of-type {border-top: none; }
    dt.no-question {
         h4 {
            font-size: 1.75em;
            line-height: 1.2em;
            display: inline-block;
            margin-left: 15px;
        }
        span.description {
            margin-left: 20px;
            font-weight: normal;
            display: block;
            p {margin-top: 0;}
        }
    }
	dt.question {
        a.view-btn {
            display: block;
            margin: 0 20px 0px;
            font-size: 14px;
            color: $link-color;
            text-decoration: underline;
            &:hover {color: $link-hover-color;}
            
            
        }
        h4 {
            cursor: pointer;
            font-size: 1.75em;
            line-height: 1.2em;
            display: inline-block;
            
            &:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
			display: inline-block;
            color: $accent-color;
            font-size: 23px;
            margin-right: 5px;
        }
		
		
		}
        h4.active{
		&:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
            margin-right: 5px;
		}	
        }
        span.description {
            margin-left: 20px;
            font-weight: normal;
            display: block;
            p { margin-top: 0;}
        }
	}
    
	dt.active {
        a.view-btn { display: none; margin: 0px; 
                    @include transition(display 0.24s ease-in-out);}
        
	}
	dd {
		margin-left: 20px;
	}
	dd > p {
		margin-top: 10px;
	}
    dd p:first-of-type {margin-top: 0px;}
    .notice {
        margin-left: -25px;
        ul, ol {
            li{margin: 0 50px;}
        }
    }
}

/* Galleries */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}



/* Study Abroad / Jobs & Internships */
.abroad-list li, .jobs-list li{
    margin: 0 0px 15px 13px;
    padding-left: 2px;
    padding-bottom: 10px;
    list-style-type: disc;
    border-bottom: 1px dotted #ccc;
    
}

/*  Jobs and Internship */
.jobs-internships {
    .contain-col {
        width: 100%;
        float: left;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

/*  Ph.D Listing */
.phd-list {
    display: table;
    li, a.phd-link li {
        padding: 10px;
        margin: 0px;
        background: #fafafa;
        list-style-type: none;
        width: 95%;
        float: left;
        border-bottom: 1px solid #ddd;
        line-height: 1.3em;
        .grad_year { font-weight: 600;}
        .person-info {width: 40%; margin-right: 15px; float:left; font-size: .95em; 
            span::after {
                content: ', ';
            }
        }
        .person-info :not(h4) { font-style: italic;}
        .research {width: 56%; float: left;
        p {margin: 0px; padding: 0px;}
        }
        h4 {font-size: 18px; padding-bottom: 0px; margin-bottom: 0px; margin-top: 0px;
            span {color:$secondary-text-color; font-size:18px; font-weight: normal;}
        }
        span {color: $text-color; text-decoration: none; font-weight: normal;}
    }
    li:nth-child(odd){background: #f1f1f1;}
}


//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}